<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>


<!-- Início conteúdo da página-->
<ion-content>
  <ion-card>
    <!--Header-->
    <ion-card-header>
      <ion-card-title>Sistema ETEC</ion-card-title>
    </ion-card-header>
    <!--Fim header-->
    <form [formGroup]="formCadastro" (ngSubmit)="cadastrar()">

    <!--Nome-->
    <ion-item>
      <ion-label position="stacked">Nome completo</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
      <ng-container *ngFor="let erro of mensagens_validacao.nome">
        <span
          *ngIf="formCadastro.get('nome').hasError(erro.tipo) && (formCadastro.get('nome').dirty || formCadastro.get('nome').touched)"
          class="msg.erro">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <!--Sexo-->
    <ion-item>
      <ion-label>Sexo</ion-label>
      <ion-select formControlName="sexo" placeholder="Selecione...">
        <ion-select-option value="F">Feminino</ion-select-option>
        <ion-select-option value="M">Masculino</ion-select-option>
      </ion-select>
      <ng-container *ngFor="let erro of mensagens_validacao.senha">
        <span
          *ngIf="formCadastro.get('sexo').hasError(erro.tipo) && (formCadastro.get('sexo').dirty || formCadastro.get('sexo').touched)"
          class="msg.erro">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <!--CPF (n esquece de validar isso, eu do futuro)-->
    <ion-item>
      <ion-label position="staked">CPF</ion-label>
      <ion-imput formControlName="cpf" type="text" max="11" placeholder="somente numeros"></ion-imput>
      <ng-container *ngFor="let erro of mensagens_validacao.nome">
        <span
          *ngIf="formCadastro.get('cpf').hasError(erro.tipo) && (formCadastro.get('cpf').dirty || formCadastro.get('cpf').touched)"
          class="msg.erro">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <!--Nascimento-->
    <ion-item>
      <ion-label position="staked">Data de nascimento</ion-label>
      <ion-datetime formControlName="dataNascimento" display-format="DD/MM/YYYY" placeholder="Selecione a data">
      </ion-datetime>
      <ng-container *ngFor="let erro of mensagens_validacao.nome">
        <span
          *ngIf="formCadastro.get('dataNascimento').hasError(erro.tipo) && (formLogin.get('dataNascimento').dirty || formLogin.get('dataNascimento').touched)"
          class="msg.erro">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <!--Email-->
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-imput formControlName="email" type="email"></ion-imput>
      <ng-container *ngFor="let erro of mensagens_validacao.email">
        <span
          *ngIf="formCadastro.get('email').hasError(erro.tipo) && (formCadastro.get('email').dirty || formCadastro.get('email').touched)"
          class="msg.erro">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <!--Oi eu do futuro, sou eu do passado dnv, esse aqui tem q ver como faz-->
    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-imput formControlName="senha" type="password"></ion-imput>
      <ng-container *ngFor="let erro of mensagens_validacao.senha">
        <span
          *ngIf="formCadastro.get('senha').hasError(erro.tipo) && (formCadastro.get('senha').dirty || formCadastro.get('senha').touched)"
          class="msg.erro">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <!--Confirmar senha-->
    <ion-item>
      <ion-label position="stacked">Confirmar Senha</ion-label>
      <ion-imput formControlName="confirmaSenha" type="password"></ion-imput>
      <ng-container *ngFor="let erro of mensagens_validacao.confirmaSenha">
        <span 
        *ngIf="formCadastro.get('confirmaSenha').hasError(erro.tipo) && (formCadastro.get('confirmaSenha').dirty || formCadastro.get('confirmaSenha').touched)"
        class="msg.erro">
      {{erro.mensagem}}
      </span>
      </ng-container>
    </ion-item>

    <br>
    <ion-button expand="block" color="tertiary" type="submit">SAVE</ion-button>

   </form>
 
 </ion-card>
</ion-content>